[2017-02-10 22:49] lookuptable opened #1 "Certificate Issuance"
Istio auth needs a component for certificate issuance. Basic functionalities should include:
- If a signing key & certificate are provided (via command line), use them as CA root key and cert. Otherwise, generate a key & certificate automatically
- Has an interface to create key & certificate when provided with a Kubernetes service account (name + namespace)

[2017-02-10 22:53] lookuptable opened #2 "Secure naming service"
Istio auth uses Kubernetes service account as Istio identity. To enable this, we need a secure naming service that maps a Kubernetes service into a set of service accounts whose pods are part of the service. This could be done by watching the kube-apiserver for creation/update/deletion of both pods and services.

[2017-02-10 23:00] lookuptable opened #3 "Create Istio cert and key for Kubernetes' service account"
Per the design of Istio auth, we should monitor the creation of Kubernetes service account and automatically create a key and certificate pair by calling into the certificate issuance API ( #1 ). The key and certificate are used to establish secure connection/channel between two Istio proxies.

[2017-02-14 01:22] lookuptable opened #7 "Use bazel as the build system"
We should use bazel instead of glide as the build/dependency-management system as it provides a rich set of functionalities.

[2017-02-14 01:23] lookuptable commented on #7
@lizan I'm assigning this to me right now. Hopefully it won't take too much time. Otherwise I'll seek your help.

[2017-02-14 18:10] #7 closed

[2017-02-14 21:15] lookuptable opened #10 "Add travis build status to README.md"

[2017-02-16 22:17] lookuptable commented on #10
#13 closes this issue.

[2017-02-16 22:17] #10 closed

[2017-02-16 23:44] lookuptable opened #16 "Change go prefix to istio.io/auth"
Currently we're using "github.com/istio/auth" as the go prefix. However we should switch to "istio.io/auth" to stay consistent other repos under Istio organization.

[2017-02-17 22:47] wlu2016 commented on #1
https://github.com/istio/auth/commit/7b6ce24c1bf0eb9f663004d1babee11796ec6ee5

[2017-02-17 22:47] #1 closed

[2017-02-21 03:22] lookuptable opened #19 "Add comments for the secure naming components"
We should add comments to the secure naming component to make it more readable.

[2017-02-22 18:20] #2 closed

[2017-02-22 22:24] lookuptable opened #22 "Run GoMetaLinter on Travis"
Currently we only use `go fmt` to check basic source code formatting. We should switch to GoMetaLinter to have more comprehensive checks.

[2017-02-23 00:34] #19 closed

[2017-02-24 18:05] #22 closed

[2017-02-28 07:23] lookuptable opened #28 "Investigate test flakeness"
Currently `TestGetPodServices` fails occasionally. We should investigate and fix this flakiness.

[2017-02-28 22:56] lookuptable opened #29 "Enable code coverage in this repo"

[2017-02-28 22:57] lookuptable opened #30 "Add unit tests to certificate manager"
We currently don't have test coverage for https://github.com/istio/auth/tree/master/certmanager

[2017-03-01 00:50] lookuptable opened #33 "Check copyright header in Travis"
We should check the copyright header in Travis CI to avoid accidentally committing new files without the headers.

[2017-03-01 05:07] #29 closed

[2017-03-09 00:14] wlu2016 commented on #30
https://github.com/istio/auth/pull/37

[2017-03-09 00:14] #30 closed

[2017-03-09 17:36] #33 closed

[2017-03-13 23:35] jasminejaksic opened #41 "Service-service auth across K8s cluster"
This is a tracking issue to enable service to service authorization at cluster level

[2017-03-13 23:40] jasminejaksic opened #42 "Service to Service auth using Open Source LOAS"
Istio proxy needs to support LOAS auth in GCP, which relies on the GCP Metadata service

[2017-03-14 00:33] jasminejaksic opened #43 "End User auth using Auth0 and GitKit"
Tracking issue

[2017-03-14 22:01] lookuptable opened #45 "Add `KeySize` option in CertOptions"
Currently we are hard-coding `rsaBits` to 2048 in `generate_cert.go`. Instead we should make the key size configurable in CertOptions such that we can use a large key for CA cert and a smaller key for leaf cert.

[2017-03-14 22:05] lookuptable opened #46 "host in CertOptions should be optional"
We should make `CertOptions.Host` optional to avoid setting SAN field when generating CA certificates.

[2017-03-15 19:55] myidpt opened #47 "Istio auth e2e with manager/mixer/manager agent/proxy"

[2017-03-15 23:28] lookuptable opened #48 "Better handling for existing secrets"
Currently we use `Update` instead of `Create` to avoid dealing with existing secrets. However we need to handle this more properly.

Relevant code is here: https://github.com/istio/auth/blob/master/controller/secret.go#L121

[2017-03-16 21:34] wattli opened #50 "Investigate how Envoy handles the rotation of SSL keys and certs"
When we rotate key/cert, we have 2 options 1) keep the same name 2) use a different name.

The first option is simpler since we don't need to update envoy config in this case. But it may have problems:

If envoy directly reads cert/key from file every time when they need them, then we are fine. However, if they keep the cert/key in memory or use some cache, the new key/cert with the same file name

[2017-03-16 21:41] lookuptable commented on #50
I think the best approach is to change Envoy such that it keeps tracks of the cert timestamp and reload cert/key when necessary.

Renaming means every time we rotate key/cert, the Envoy config needs to be re-generated, which makes the CA and manager tightly coupled.

[2017-03-16 21:46] wattli commented on #50
It would be optional, i.e., envoy has a watcher for key/cert, and reload when necessary. AFAIK, I don't think envoy has this feature. Maybe we can bring up the e2e demo first, and then try it ourselves. And in the meantime, i can look into envoy code to get more info.

[2017-03-16 22:00] wattli commented on #50
Btw, this is not a show blocker. P2.

[2017-03-16 22:20] wattli opened #51 "Figure out the proper destination address to use"
Currently the listeners are based on destination address (IP + port). Both IP and port may change by k8s. Which means we need to figure out the proper destination to use.

According to @kyessenov,  we have all necessary IP (service IP, pod IP) and port (target port and pod port) info. So we can list all possible combinations in the listeners. In that case, it should work.

But in the long run, we

[2017-03-16 22:32] lookuptable commented on #3
#38 closes this issue.

[2017-03-16 22:32] #3 closed

[2017-03-16 22:35] myidpt commented on #50
I think option 1 is feasible. It is rationale for Envoy to check the timestamp in the cert when using it, and refreshes it when it's expired. I agree this is P2, as long as both client and server do not check timestamps. If current code checks timestamps, we may need to consider this as blocking issue.

[2017-03-16 22:49] lookuptable commented on #50
It's not blocking out first E2E demo/test but it is an ALPHA blocker. Since in alpha we'll use short-lived certs.

[2017-03-17 05:02] lookuptable opened #54 "Istio CA should save cert-chain into the secret"
Currently we only save key and cert into secret. Instead we should save the following three items:
* Key pair
* Certificate chain
* Root certificate

[2017-03-17 07:21] #28 closed

[2017-03-17 07:32] #46 closed

[2017-03-17 17:35] wattli commented on #50
Since it is blocking alpha, bump it up to p1

[2017-03-17 19:12] lookuptable opened #56 "Handle key/certificate rotations"

[2017-03-17 22:12] wattli opened #57 "Investigate on the deployment flow"
There are basically 3 scenarios in the deployment of Istio Auth:

1) There are no apps/proxies, we want to deploy apps and proxies (with Auth enabled).

2) Apps running without proxies, we want to deploy proxies (with Auth enabled)

3) Apps running with proxies (but without Auth enabled), we want to deploy proxies (with Auth enabled)

Need to investiagation the deployment flow of each of the scena

[2017-03-17 22:19] wattli commented on #57
After chatting with @kyessenov and @andraxylia, here are some ideas.

For scenario 1, this is the easiest one, we need to deploy Istio CA/Mixer/Manager/Manager Agent/Proxy (auth enabled)/App just similar to https://github.com/istio/istio/tree/master/demos

For scenario 2, currently Istio deployment flow is to restart the pod since k8s can't add containers to a running pod (confirmed with Kuat and

[2017-03-17 23:52] wattli commented on #57
For scenario 3, we need to restart Manager Agent as well since we need to update its config (to enable auth)

[2017-03-18 00:16] wattli commented on #56
------- Response from Matt: --------
"_It's possible to support reload of certs directly, but I would rather just add the LDS API which will allow hot swap of entire listeners. This is a more general solution which helps a lot of other uses cases. For now, I would just hot restart Envoy if you need to change the cert for the listener. LDS is going to get implemented in the next 1-2 months._"
-----

[2017-03-18 00:41] lookuptable commented on #54
Closed by #59

[2017-03-18 00:41] #54 closed

[2017-03-20 16:47] wattli commented on #50
Some response from Matt:
----
It's possible to support reload of certs directly, but I would rather just add the LDS API which will allow hot swap of entire listeners. This is a more general solution which helps a lot of other uses cases. For now, I would just hot restart Envoy if you need to change the cert for the listener. LDS is going to get implemented in the next 1-2 months.
---

Note: I jus

[2017-03-20 16:51] wattli opened #61 "Improve Envoy listener to take a list of address"
Currently an Envoy listener is bound to an address (ip:port pair). Due to k8s address translation, we may need to have multiple addresses bound to the same listener.

Not a blocking issue since we can just duplicate the listener content for now. Will consult with Matt soon.

[2017-03-20 17:58] myidpt commented on #57
About the deployment order: The CA should be up before enabling auth on proxies. In case auth is enabled and the private key/cert chain files are not available locally (may because CA is not up), we should fail the start of proxy. More intelligent way is to do retry, but I think that's second priority :)

[2017-03-20 18:02] wattli commented on #57
Good point, maybe we fail the proxy start process and prompt some error message 'key/cert not available, check if Istio CA is up and then retry'.

[2017-03-20 18:20] lookuptable commented on #57
Pretty sure we'll get this for free from Kubernetes - Kubernetes will retry pod creation until the secret to be mounted becomes existent.

[2017-03-22 05:44] #45 closed

[2017-03-22 21:19] rshriram commented on #47
It would be nice to have this integrated into the bookinfo demo application. It has enough complexity to exercise all aspects of the system.

[2017-03-22 21:20] rshriram commented on #47
Demo app is in istio/istio/demos/apps/bookinfo

[2017-03-22 21:36] lookuptable opened #65 "Push Istio CA container image to the Istio project"

[2017-03-22 21:49] lookuptable commented on #47
Sounds good @rshriram

We are still working on a few blockers. Once they are resolved I'm happy to integrate auth into the bookinfo demo.

[2017-03-22 22:52] #48 closed

[2017-03-23 04:16] lookuptable commented on #47
Create istio/istio#82 to track this.

[2017-03-23 05:57] myidpt opened #66 "Differentiate "allow-all" and "allow-none" in ssl_context:verify_subject_alt_name"
"allow-all": No secure naming is checked.
"all-none": Secure naming is checked against an empty list of service accounts. So it always fails.

We need to verify whether Envoy supports the two cases through config. Ideally, an undefined verify_subject_alt_name field should mean "allow-all" and a defined but empty verify_subject_alt_name field should mean "allow-none".

[2017-03-23 18:19] lookuptable opened #67 "Add Jenkinsfile and push docker image as a post-submit job"

[2017-03-23 18:25] lookuptable commented on #66
This should be addressed by lyft/envoy#615

[2017-03-23 21:04] lookuptable commented on #65
Closing - this is a duplication of #67

[2017-03-23 21:04] #65 closed

[2017-03-23 23:08] #67 closed

[2017-03-28 06:24] #56 closed

[2017-03-29 21:21] lookuptable commented on #66
lyft/envoy#648 fixes this issue in Envoy upstream

[2017-04-03 20:17] yutongz opened #76 "Move presubmit to Jenkins"
Manager, proxy and other repos even the postsubmit of auth use Jenkins, it would be nice if we can move presubmit of auth into Jenkins. It makes sharing scripts and tools more easily.

[2017-04-03 20:18] yutongz commented on #76
I am working on this issue

[2017-04-03 20:36] lookuptable commented on #76
Thanks for volunteering!

[2017-04-06 21:49] yutongz commented on #76
Fixed with https://github.com/istio/auth/pull/77

[2017-04-06 21:49] #76 closed

[2017-04-12 21:59] wattli opened #86 "Mixer logging support for testing"
According to Louis, we can test auth more by checking the mixer log.

[2017-04-12 21:59] lookuptable opened #87 "Istio auth should report certificate identity to mixer"
When Istio auth is enabled, Istio proxy should extract peer identity from certificates and forward the identity to Mixer.

[2017-04-12 22:03] wattli commented on #87
https://github.com/istio/proxy/commit/9d10adc1099769ed2097d91314fa8089393f9210, server side is already done, but client-side filter is not supported by envoy yet.

[2017-04-12 23:11] #47 closed

[2017-04-12 23:11] #51 closed

[2017-04-20 05:25] lookuptable opened #91 "Make the organization of self-signed certificate configurable"
Currently Istio CA uses hard-coded organization (`istio.io`) for self-signed certificates. We need to make this configurable so user can use their own org.

[2017-05-03 22:01] PiotrSikora commented on #66
Please note that https://github.com/lyft/envoy/issues/648 was reverted in Envoy (see: https://github.com/lyft/envoy/issues/615, https://github.com/lyft/envoy/pull/668).

[2017-05-08 18:48] wlu2016 commented on #50
per discussion, we will provide a short-term fix by adding a listener on Istio manager to watch key&cert change and restart Envoy if necessary.

We will create a separate issue to track the long-term fix to support refreshing new key/cert dynamically, like adding the LDS API which will allow hot swap of entire listeners as Matt suggested here.

[2017-05-08 20:18] lookuptable opened #95 "Rotate key and cert files without restarting proxy"
Currently, the way we rotate Istio key and certificate is to let a proxy agent watch the files and restart the  proxy to pick up the refreshed key and certificate. This is implemented as a short-term solution in istio/manager#663.

Ultimately we need a way to rotate these keys and certificates without restarting proxy. This is currently tracked by this issue (lyft/envoy#891) in upstream Envoy repo

[2017-05-08 20:19] lookuptable commented on #50
The short-term solution (istio/manager#663) is merged.

Long-term solution is tracked by #95 where Envoy provides native support to reload key/cert without restarting the proxy.

[2017-05-08 20:19] #50 closed

[2017-05-08 20:50] myidpt opened #96 "Passing auth result (client identity) to the backend / the next hop"
This requires Envoy to forward auth results to next hop. It is tracked by:
https://github.com/lyft/envoy/issues/794
After that, Istio should configure:
1. For Side-car proxies, they always forward auth result to the backend.
2. For cluster ingress controllers, when external service uses mTLS to call ingress controllers, the latter always forwards the auth result of to the next hop.

[2017-05-08 21:00] wattli commented on #95
@wlu2016

[2017-05-10 20:47] wattli commented on #57
This is done.

[2017-05-10 20:48] #57 closed

[2017-05-10 20:48] wattli commented on #91
This is done, right? @lookuptable

[2017-05-10 21:06] lookuptable commented on #91
Nope. I'll work on that next.

[2017-05-11 17:58] #91 closed

[2017-05-16 22:09] sebastienvas opened #111 "Use build stamp in auth packages"
Use Manager example
https://github.com/istio/manager/blob/master/cmd/version/version.go
https://github.com/istio/manager/blob/master/bin/get_workspace_status
https://github.com/istio/manager/blob/master/tools/bazel.rc

[2017-05-17 18:01] lookuptable opened #115 "Create e2e for istio-ca"
We should add basic e2e tests for istio-ca. The tests should cover
- [x] When deployed to a Kubernetes cluster, secrets are correctly created for existing service account
- [x] Creating a new service account leads to the creation of corresponding secret
- [x] Cert in created secret can be successfully verified
- [ ] Istio-ca re-creates secret when one is deleted.

[2017-05-17 18:12] sebastienvas commented on #115
Are you thinking of Adding this in istio/istio e2e framework ?

[2017-05-17 18:29] wattli commented on #115
For item 1, more specifically, secrets should be overwritten if they already exist

[2017-05-17 18:41] lookuptable commented on #115
@sebastienvas I'm thinking of adding it here as part of presubmit. Currently the CA command line stuff is not tested.

[2017-05-17 18:45] sebastienvas commented on #115
Awesome

[2017-05-18 04:17] #111 closed

[2017-05-25 08:08] mwitkow commented on #41
hi guys,

Congrats on the project guys. Istio auth looks like something incredibly relevant to what we're doing: building trust between microservices using TLS certs. In our approach we're using [Vault](https://www.vaultproject.io/api/secret/pki/index.html) as an issuer of short-lived certs for auth within and across our kubernetes clusters.

I was wondering whether the auth across k8s that you're

[2017-05-25 08:21] mwitkow commented on #43
Hi,

Congrats on the project, and I wanted to ask a follow up question as to how you want to structure End User Auth. We have a way of issuing developer (and operator) certifiacets using [Vault](https://www.vaultproject.io/api/secret/pki/index.html)'s dynamic PKI mechanism. This, combined with an edge mutual-TLS proxy for our Kubernetes clusters allows us to grant access to, for example, debug end

[2017-05-25 19:05] wattli commented on #41
@mwitkow , thanks for your interest. Auth across k8s is a difficult problem. Essentially we need to figure out a way to build up trust train between cluster CAs to make clusters be able to talk to each other.

[2017-05-25 22:48] myidpt commented on #43
That's a very good question.

For the End User Auth, we planned to support OIDC identity tokens, so the auth will be JWT+TLS. I agree it has drawbacks, but it is much easier for non-developer users to use (no need to get certificate through CSR to CA). For developers, we may support certs with user-accounts as identities (but it is still on discussion).

[2017-05-25 22:54] myidpt commented on #43
Also see this for how we want to support debugging in the short term:
https://github.com/istio/istio/issues/242

[2017-05-26 20:01] ajessup commented on #41
@mwitkow FYI federated auth for Istio (independent of cluster federation) and the necessary bootstrapping of trust is a goal of the SPIFFE project (see spiffe.io) that several folks on the istio/auth team are contributing to. Feel free to reach out to andrew AT scytale.io if you want to learn more.

[2017-06-01 00:59] wenchenglu opened #140 "add "let's encrypt" support to auto provision FQDN cert for external traffic"
we may consider supporting "let's encrypt" to auto provision FQDN cert to support end user traffic, or peer service that doesn't run istio proxy and doesn't support spiffe.

[2017-06-01 01:03] wenchenglu opened #141 "service-to-service auth using SPIFFE across organizations"

[2017-06-05 17:12] saumoh opened #144 "mTLS between ingress-proxy and product-page not working?"
Setup: browser->ingress-envoy->productpage->[details|review(s)]->rating
1. productpage -> details mTLS is working fine. Verified using: https://istio.io/docs/tasks/ingress.html
2. TLS between browser->ingress proxy working.
3. mTLS between ingress proxy -> productpage is NOT working.
Version: 0.1.5
I have configured all the pod's with the same service accounts. If the service account of ingress-pr

[2017-06-06 15:58] wattli commented on #144
Chatted offline, it's because the secret and service account does not match. And it's resolved.

[2017-06-06 15:58] #144 closed

[2017-06-06 16:00] wattli commented on #115
@lookuptable , is this issue finished?

[2017-06-06 16:17] lookuptable commented on #115
Nope. Hasn't get a chance to work on this.

[2017-06-06 23:12] wattli opened #149 "Envoy key rotation support"

[2017-06-06 23:13] wattli opened #150 "Secure naming config in CDS for TCP"

[2017-06-06 23:13] wattli opened #151 "Auth support for TCP"

[2017-06-06 23:14] wattli commented on #150
This is blocked by the LDS implementation on Envoy side.

[2017-06-06 23:15] wattli opened #152 "Istio auth support on VM: design"

[2017-06-06 23:15] wattli opened #153 "Istio auth support on v0.2"

[2017-06-07 19:58] wattli opened #155 "Istio Auth on hybrid cloud"

[2017-06-07 19:58] wattli opened #156 "Istio auth on hybrid cloud"

[2017-06-18 20:40] odeke-em commented on #156
Dup of https://github.com/istio/auth/issues/155

[2017-06-18 20:41] odeke-em commented on #153
Dup of https://github.com/istio/auth/issues/152?

[2017-06-28 21:56] wattli commented on #153
Design doc: https://docs.google.com/document/d/1VYjmL72aszfkSGB5wyDRUQf4EMibW5UP38RA8KBwB-o/edit#heading=h.p6i3oklcxw0

[2017-06-28 21:57] wattli commented on #153
@odeke-em, this is the epic, the other one is the issue.

[2017-06-28 21:58] wattli commented on #151
Problem summary https://docs.google.com/document/d/1-R9muDf78bA-f5WcxXtnZ_noFFR4MLb00xI2djGS0Ps/edit

[2017-06-28 21:59] wattli commented on #156
Design https://docs.google.com/document/d/1ab_f7OnsuQ3Q8C-Al6yHr1pFNv_Z8BtfovzYEU5dII4/edit

[2017-07-12 19:49] ldemailly commented on #151
How would this work for https (without double encrypting all the traffic) ?

[2017-07-12 19:50] lookuptable opened #177 "Re-structure directories in this repo"
Previously this repo only generate one executable `istio-ca` and the directory structure is relatively simple and flat. However, with the addition of `node-agent`, we should re-factor this repo to make code better organized.

There are currently two proposals
1. Follow the one used in kubernetes project, where binaries are placed into a top-level `cmd/` directory. See [here](https://github.com/kub

[2017-07-12 19:55] lookuptable commented on #177
I'd vote for 1 as
1. It reduces the number of top-level directories (otherwise we'll have one top-level directory for each executable we have, which makes this repo hard to navigate IMO).
2. The main methods in `cmd/` folder only do command line parse while the actual logic is implemented in `pkg/` dir. This can mostly avoid us to have sub-packages in the `cmd/` dir.

[2017-07-12 19:59] lizan commented on #151
@ldemailly No, the key issue is missing LDS, for HTTP we can route traffic to different services by inspecting host header, but for TCP it needs LDS to know which service that app is talking to. The underlying encryption happen at same level. See the docs for details.

[2017-07-12 20:02] wattli commented on #177
what's the second proposal?

On Wed, Jul 12, 2017 at 12:55 PM, Yang Guan <notifications@github.com>
wrote:

[2017-07-12 20:06] sarvaniv commented on #177
I am OK with (1) but  the pkg/ directory directly conflicts with your reasoning about having "less top-level" directories. If the code is used ONLY by istio_ca, it has no business living outside of that scope.  I am not sure what are we gaining by avoiding sub-packages? Also note that each of the executables under the cmd/ directory can have a sub cmd/ directory that implements their cobra command

[2017-07-12 20:14] sarvaniv commented on #177
Just to make it clear here is what I propose:

istio.io/auth/
  cmd/
    istio_ca/
         cmd/
             root.go
             BUILD
          subpkg1\
             ..
          BUILD
           ca.go
    node_agent/
         cmd/
            root.go
            BUILD
         app/
         main.go
  pkg/ /* contains code that is common to both istio_ca and node_agent */
    .....

[2017-07-12 20:21] wattli commented on #177
Can you provide indentation to make it more clear, e.g.,

levelA.1/
  levelB.1/
levelA.2/
  levelB.2/

Thanks
Tao

On Wed, Jul 12, 2017 at 1:14 PM, Sarvani Vakkalanka <
notifications@github.com> wrote:

[2017-07-12 20:24] lizan commented on #177
I vote for (1) too, it looks to be consistent with mixer, pilot and galley

[2017-07-12 20:26] sarvaniv commented on #177
Not sure why the indentation is not taking. Here is the another try via
email:

node_agent */

On Wed, Jul 12, 2017 at 1:21 PM, Tao Li <notifications@github.com> wrote:

--
Thanks,
Sarvani

[2017-07-12 20:26] sarvaniv commented on #177
Lizan,

We ALL vote for (1) :-)

On Wed, Jul 12, 2017 at 1:24 PM, Lizan Zhou <notifications@github.com>
wrote:

--
Thanks,
Sarvani

[2017-07-12 21:22] myidpt commented on #177
(1) looks better to me :)

[2017-07-19 21:14] wattli commented on #152
https://docs.google.com/document/d/1VYjmL72aszfkSGB5wyDRUQf4EMibW5UP38RA8KBwB-o/edit

[2017-07-19 21:15] #152 closed

[2017-07-19 21:21] wattli opened #178 "Istio v0.2 auth: node agent"

[2017-07-19 21:24] wattli opened #179 "Istio v0.2 Auth: CA support"
Integrate with existing CA in K8s, and provide gRPC interface to take CSR. Maintain a config file for istio identity assignment.

Sub tasks:

- [x] Allow Istio CA to run as a GRPC server (#213, #216)
- [ ] Handle client authentication (e.g. GCP ID token, certificate)

[2017-07-19 21:30] wattli opened #180 "istio auth v0.2: prototype integration"
- CA running on K8s (as Alpha does), provides a gRPC interface, maintain a config list
- VM node sends CSR, get cert

[2017-07-27 23:47] wattli opened #193 "Sort out secure naming story in V0.2"
Including where should we have this whitelist, where to implement the register logic (who can register what service name), how to maintain the secure naming dynamically.

[2017-08-02 18:40] wattli commented on #151
@kyessenov , just to confirm: this is done, right?

[2017-08-02 18:52] kyessenov commented on #151
LDS is implemented and supports TCP clusters, if that's the question.

[2017-08-02 20:11] wattli commented on #151
Yes, thanks.

[2017-08-02 20:12] wattli commented on #151
@kyessenov , so the secure naming in CDS for TCP also works, right?

[2017-08-02 20:13] kyessenov commented on #151
I think so. We have no negative tests for auth, so this remains to be verified.

[2017-08-02 20:19] wattli commented on #151
i see, i will take care of that.

[2017-08-09 03:03] lookuptable opened #210 "Unit tests for package node_agent/"
Currently test coverage for node_agent/ is less than 10%. We need more unit tests to ensure code health.

[2017-08-09 21:48] wattli commented on #210
I will find some time to add more as well, thanks for creating this issue.

[2017-08-11 18:21] lookuptable commented on #193
This is implemented as istio/pilot#1008

[2017-08-11 18:24] lookuptable commented on #178
@wattli is this done? Can you link related PRs here and have this issue closed?

[2017-08-11 18:28] wattli commented on #178
PRs are linked:

https://github.com/istio/auth/pull/207
https://github.com/istio/auth/pull/176

We can claim as 'code completed', but i believe there will be some bugs. Let's keep it open until next week.

[2017-08-15 20:54] myidpt commented on #193
This is fixed by istio/pilot#1008.

[2017-08-15 20:54] #193 closed

[2017-08-15 20:58] myidpt opened #220 "Make sure node agent cert rotation work"
Places to improve:

If CSR failed, we should retry
Generally the rotation should happen before the cert expires, the common practice is half time of the cert life, iirc.

[2017-08-15 21:03] lookuptable commented on #220
Node agent is already handling rotation. See code [here](https://github.com/istio/auth/blob/master/node_agent/na/nodeagent.go#L100). Can you specify what else you're planning on doing?

[2017-08-15 21:13] wattli commented on #220
That one has bug, i mean we should improve it. The title is changed.

Places to improve:
- If CSR failed, we should retry
- Generally the rotation should happen before the cert expires, the common practice is half time of the cert life, iirc.

[2017-08-15 21:14] lookuptable commented on #220
Sounds good to me. Thanks for the explanation.

[2017-08-15 21:32] myidpt commented on #220
OK. Thanks for the explanation.

[2017-08-16 21:07] #150 closed

[2017-08-16 21:08] #141 closed

[2017-08-16 21:47] #86 closed

[2017-08-16 21:47] wattli commented on #86
Currently we have client identity reported to mixer (on server side)

[2017-08-16 23:05] ldemailly opened #222 "istio-egress TPR "IstioConfig" is not ready (the server has asked for the client to provide credentials (get IstioConfigs.istio.io))"
@fatg1988 commented on [Sat Jun 17 2017](https://github.com/istio/istio/issues/419)

kubectl version
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.2", GitCommit:"477efc3cbe6a7effca06bd1452fa356e2201e1ee", GitTreeState:"clean", BuildDate:"2017-04-19T20:33:11Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}

![default](https://user-images.githubusercontent.com/336

[2017-08-18 05:42] lookuptable commented on #222
@ldemailly I don't think that this issue should be in this repo (maybe I missed something?).

The steps mentioned by Amit is to re-create the service account secret. This is a secret created natively by Kubernetes and has nothing to do with Istio auth.

[2017-08-18 05:48] lookuptable opened #226 "node agent should use cobra for CLI processing"
Right now node agent is using native Go flags for CLI processing. We should switch to use spf13/cobra instead. Why?
* Consistency: `istio_ca` binary is using cobra and there're some difference between cobra and go flags. For example, cobra uses double "-" before an option and reserve single "-" for shorthand. Go flags always use single "-"
* Extensibility: cobra makes adding sub-commands much easi

[2017-08-18 18:01] ldemailly commented on #222
Sorry I triaged it wrong (maybe we should build up some faq/knowledgebase though)

Will close now and let @wuzhihui1123 file a new issue in https://github.com/istio/issues/issues if it's still a problem

[2017-08-18 18:01] #222 closed

[2017-08-22 00:22] myidpt commented on #220
This is fixed by PR #220.

[2017-08-22 00:22] #220 closed

[2017-08-22 00:25] myidpt opened #231 "Add unit tests for node agent"
Node agent is lacking unit tests, it also needs to be refactored for better unit tests.

[2017-08-22 00:27] lookuptable commented on #231
Duplication of #210?

[2017-08-22 00:35] myidpt opened #232 "Add auditing for node agent and CA"
We need to have auditing for node agent and CA. The events happening on the node agent and CA should be kept on a persistent storage. We may start from logging on local files and sort out persistent storage solution when Galley (or other storage system) is ready.

[2017-08-22 00:37] myidpt commented on #210
I'm working on it now.

[2017-08-22 00:37] myidpt commented on #231
Yes, you are right. I will close this one.

[2017-08-22 00:37] #231 closed

[2017-08-22 17:30] lookuptable commented on #149
@wattli can you add some details? I completely forgot what this is about.

[2017-08-22 17:46] wattli commented on #149
it's about the key/cert rotation for 0.2. In K8s, we use the same way as 0.1, in VM, node agent will handle that. I think we can close it now and file a separate issue if there is a bug.

[2017-08-23 17:43] wattli opened #241 "CA should refresh secret when it restarts"
Seems like a regression. We used to have it work.

[2017-08-23 17:43] wattli commented on #241
@lookuptable , could you take a look please? Thanks.

[2017-08-23 17:52] lookuptable commented on #241
It never re-creates secret, but it DOES refresh the content of existing secret.

[2017-08-23 17:52] #241 closed

[2017-08-23 18:17] wattli commented on #241
Chatted offline, thanks for your correction Yang.

[2017-08-28 16:59] lookuptable opened #246 "--env for node agent should accept strings"
The `--env` option of `node_agent` binary right now takes integer (1, 2). This is quite un-explanatory. We should switch to use strings and allow user to pass in `gcp` or `on-prem`.

[2017-08-28 18:53] myidpt opened #247 "Refactor node agent to support other means to communicate with workload"
Currently node agent uses file to deliver cer/key to workload. This is hard coded in NodeAgent.go without flexibility to support other communication schemes. We need to generalize the communication interface to support workload API, etc.

[2017-08-28 20:48] sakshigoel12 commented on #153
We have 3 open P0 under this epic. Please could you close all issues that are complete - and call out anything that won't be complete by EOW (except docs and testing).

[2017-08-28 20:54] #179 closed

[2017-08-29 18:19] #226 closed

[2017-08-29 18:19] #210 closed

[2017-08-29 20:05] #178 closed

[2017-08-31 00:34] wenchenglu opened #252 "doc improvement: articulate secure naming is for client side only and why"

[2017-08-31 16:21] wattli opened #253 "Flaky test in generate_cert"
This is flaky, and seems to be related to the cert timestamp.

W0831 04:01:56.424] PASS: //pkg/pki:go_default_test
W0831 04:01:56.546] ____[473 / 789] Testing //pkg/pki/ca:go_default_test
W0831 04:01:56.932] FAIL: //pkg/pki/ca:go_default_test (see /home/bootstrap/.cache/bazel/_bazel_bootstrap/82c87f91d10397dd2101a6893e4c013b/execroot/__main__/bazel-out/local-fastbuild/testlogs/pkg/pki/ca/go_defaul

[2017-08-31 18:03] #253 closed

[2017-09-01 20:38] myidpt commented on #246
This is solved by https://github.com/istio/auth/pull/251

[2017-09-01 20:38] #246 closed

[2017-09-06 03:58] lookuptable commented on #177
Fixed by #233, #205, #203, #181.

[2017-09-06 03:58] #177 closed

[2017-09-07 20:34] #115 closed

[2017-09-11 20:52] #153 closed

[2017-09-11 20:52] #180 closed

[2017-09-11 20:53] #151 closed

[2017-09-11 20:56] ldemailly commented on #151
I fixed it in https://github.com/istio/istio/pull/711 and I'm starting to write a negative test but if you want to do it I can do something else

[2017-09-11 21:27] wattli opened #262 "Transparent mutual TLS auth setup conflicts with kubernetes health probes"

[2017-09-11 21:33] wattli commented on #262
This issue was originally raised by Kuat at (https://github.com/istio/pilot/issues/479) and here is the context.
------
In case of mutual TLS enabled mesh, the health checker in k8s does not have a client-side proxy to initiate the TLS connection. That means the health probes initiated by kubelet will be sent as clear text to the proxy that expect an SSL connection.

Concretely, let's say my pod d

[2017-09-12 01:15] ldemailly commented on #262
can the healthcheck be using socat/same mechanism as kubectl port-forward which bypasses the proxy already ? (there is maybe an option to set it up that way)

[2017-09-13 20:56] fotinakis commented on #140
Yes please!

[2017-09-17 22:54] sakshigoel12 opened #265 "Review and update auth repo readme"

[2017-09-19 20:47] wattli opened #267 "Enable Auth without breaking existing service"
Including
Istio service -> non-istio service (e.g., ApiServer)
non-istio service -> istio service (e.g., Liveness/readiness check from kubelet)
Upgrading a TLS traffic with Istio Auth.

[2017-09-19 20:48] wattli commented on #267
@diemtvu

[2017-09-19 20:48] wattli commented on #267
@akuroda for tracking purpose

[2017-09-20 17:17] costinm opened #269 "Rename the node-agent binary to istio-auth-node-agent"

[2017-09-20 22:01] ldemailly commented on #269
alternatively and/or additionally we can shove all these binaries out of the users normal directory
ie the debian should not be touching /usr/local/bin at all
#270 fixed that

[2017-09-21 04:06] ldemailly commented on #267
subscribe

[2017-09-22 21:09] wattli opened #271 "Add access control based on service account in istio.io"
We want to add this to 0.2 release.

[2017-09-22 21:15] wattli opened #272 "Add FAQ for istio Auth"

[2017-09-22 21:15] wattli commented on #272
https://istio.io/docs/tasks/security/faq.html

[2017-09-22 22:46] ZackButcher opened #273 "Rename auth binaries to match conventions in other Istio repos"
Auth's binaries all use underscores:
- `generate_cert`
- `generate_csr`
- `istio_ca`
- `node_agent`

Across the rest of Istio we don't do this:
- [`pilot`](https://github.com/istio/pilot/blob/master/cmd/pilot-discovery/main.go#L75)
- [`agent`](https://github.com/istio/pilot/blob/master/cmd/pilot-agent/main.go#L56)
- [`mixs`](https://github.com/istio/mixer/blob/master/cmd/server/cmd/root.go#L32)
-

[2017-09-25 17:25] wattli commented on #272
PR1: https://github.com/istio/istio.github.io/pull/502
PR2: https://github.com/istio/istio.github.io/pull/517

[2017-09-25 17:28] wattli commented on #273
sgtm

[2017-09-25 17:53] #272 closed

[2017-09-25 18:31] wattli commented on #265
WIP

[2017-09-26 18:58] wattli opened #274 "More test to cover mTLS"
We added some test in istio/pilot e2e.sh. But we will need more to make sure these scenarios won't work:

- Client does not provide cert
- Client have wrong cert

This is to make sure Envoy change won't break us.

[2017-09-26 22:21] wattli opened #275 "mTLS support for Istio Auth"
This is a general issue including k8s, VM, cross-cluster, etc.

[2017-09-27 21:09] #149 closed

[2017-09-27 21:10] #61 closed

[2017-09-27 21:11] wattli commented on #66
@lookuptable , is this issue solved? I think currently we enforce client cert now.

[2017-09-28 23:11] sakshigoel12 commented on #271
@myidpt @wattli can you add eta and if this is critical for 0.2. Otherwise lets move it to 0.3

[2017-09-28 23:12] sakshigoel12 commented on #265
@wattli please could you add an ETA

[2017-10-04 17:38] crazytan opened #277 "Support AWS in node agent implementation"

[2017-10-04 17:40] wattli commented on #277
Thanks for working on this.

[2017-10-04 18:18] crazytan opened #278 "Local dev guide for new developers"
The README [here](https://github.com/istio/istio/blob/master/devel/README.md) mainly uses Mixer as an example and some of the things don't apply here. It would be nice if Auth has its own contributing guide so that interested developers can build and try on their own.

[2017-10-04 23:09] jasminejaksic commented on #265
Hey Tao, can you please complete this by COB tomorrow?
Also, are there other auth doc fixes for 0.2? If so, can you please open issues on github?

[2017-10-04 23:13] wattli commented on #265
It will be done by tomorrow. Will do if there are any.

On Wed, Oct 4, 2017 at 4:09 PM Jasmine Jaksic <notifications@github.com>
wrote:

--
Tao

[2017-10-04 23:55] sakshigoel12 commented on #271
@wattli  do you think this will be ready in next couple days?

[2017-10-05 03:27] myidpt commented on #271
@sakshigoel12 This is solved:
https://istio.io/docs/tasks/security/secure-access-control.html
I'll close this issue.

[2017-10-05 03:27] #271 closed

[2017-10-05 18:03] wattli opened #280 "Specify how to bring your own key/cert for CA"
We mention this feature in our release note, while we haven't document it yet.

https://istio.io/docs/reference/release-notes.html

[2017-10-06 16:07] wattli opened #285 "Rename this repo from 'auth' to 'security'"
To make it more generic for authz related stuff.

We might want to do this after the code-freeze (next week)

[2017-10-07 00:25] myidpt opened #287 "Add instructions for incremental Istio auth adoption in existing cluster"
We need to add instructions to guide users through the incremental mTLS adoption. It includes:
1. Incremental mesh expansion - services migrate to Istio with mTLS in a continuous deployment.
2. Incremental feature adoption - Istio mTLS gets turned on gradually.

[2017-10-09 22:20] hklai opened #288 "Incomplete tests: Cert rotation/issuance failure tolerance"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Cert rotation/issuance failure tolerance_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

[2017-10-10 00:34] hklai opened #289 "Incomplete tests: Istio components use secure connections. Mixer client, Pilot, and Mixer use Istio-auth to communicate"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Istio components use secure connections. Mixer client, Pilot, and Mixer use Istio-auth to communicate_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

[2017-10-10 00:36] hklai opened #290 "Incomplete tests: SNI for edge service"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_SNI for edge service_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendations:

[2017-10-10 00:37] hklai opened #291 "Incomplete tests: Per-service auth enablement"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Per-service auth enablement_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommend

[2017-10-10 00:39] hklai opened #292 "Incomplete tests: Readiness and liveness checks"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Readiness and liveness checks_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recomme

[2017-10-10 18:35] crazytan opened #293 "Add identity registry support"
Identity registry is a place that maintains the state information of overall identity system, including:

1. native node-level identity: GCE instance JWT, AWS instance identity document, one-time token, etc.
2. node agent identities as X.509 certs
3. workload identities

The primary function of the registry is to interact with identity approver and to answer the question: does the presented identi

[2017-10-10 18:41] crazytan opened #294 "Define plugin interface for node agent"
There are several problems in current node agent implementation:

1. `type NodeAgent interface { Start() error }` is only implemented by `nodeAgentInternal` and there's no way in the code to choose different implementations.
2. instead, cmd argument `--env` chooses which `platformSpecificRequest` implementation to use in as `nodeAgentInternal.platformSpecificRequest` field. However, it doesn't pro

[2017-10-11 01:06] hklai opened #298 "Incomplete test: Outbound TLS (Envoy on client, not on server)"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Outbound TLS (Envoy on client, not on server)._” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group

[2017-10-11 01:07] hklai opened #299 "Incomplete tests: Inbound TLS in-mesh (Envoy on server, not client)."
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Inbound TLS in-mesh (Envoy on server, not client). _” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working g

[2017-10-12 23:51] wattli commented on #43
@lizan , are you working on this?

[2017-10-13 00:22] lizan commented on #43
Yes, I'm proposing a Workgroup for this:
https://groups.google.com/forum/#!topic/istio-security/pK0oUikOZuw

[2017-10-14 20:17] #247 closed

[2017-10-14 20:17] myidpt commented on #247
Solved by #286

[2017-10-14 20:20] myidpt opened #305 "e2e test for node agent"
Our current e2e test only tests CA, we need it to test the key/cert provision on node agent as well.

[2017-10-14 21:24] ldemailly commented on #305
also 1/2h maybe short for outages
I think the validity of the agent-CA cert should be higher

[2017-10-16 17:35] kdillane commented on #43
Does end user auth also pertain to external systems accessing a Kubernetes cluster through the Ingress?  Being able to apply policy decisions about callers into a cluster isn't obvious from an implementation perspective and seems pertinent to both end-users and non-cluster external clients.

[2017-10-19 18:51] myidpt opened #308 "Refactor node_agent"
We should move most files from cmd/node_agent/na/ to pkg/. This aligns with the general structure of the auth repo.

[2017-10-19 21:30] wattli commented on #280
Do we have some update for this issue? Thanks.

[2017-10-19 22:03] myidpt commented on #280
I'm working on a PR for istio.io.

[2017-10-20 22:21] crazytan commented on #308
I tried to do this in a naive way, but hit some circular dependency error because to implement `GetDialOptions` depends on `package na`, whose function `NewNodeAgent` in turn depends on `gcpPlatformImpl`.

[2017-10-21 22:38] myidpt commented on #308
Yes, it is. I have done a little work to separate the Config. I will send out a PR on this, and you can continue to do more refactoring, if you don't mind ;)

[2017-10-24 17:06] wattli commented on #287
@myidpt, @diemtvu, I think this issue is not only about docs, please correct me if I am wrong.

[2017-10-24 21:49] #308 closed

[2017-10-24 21:51] myidpt commented on #287
Yes, I believe there are other issues to track the feature:
https://github.com/istio/auth/issues/267
I think we can use this issue to track the docs.

[2017-10-24 22:03] mangchiandjjoe commented on #305
start working on it

[2017-10-25 20:17] wattli commented on #287
i see, thanks for the clarification.

[2017-10-25 22:21] wattli commented on #262
It's a dup of https://github.com/istio/auth/issues/292, closed.

[2017-10-25 22:21] #262 closed

[2017-10-25 22:22] #66 closed

[2017-10-25 22:26] wattli opened #312 "RBAC setup for CA key/cert"
Currently the CA's key/cert is stored in a secret without RBAC protection. Please set it up proper RBAC so that only CA can access the secret.

[2017-10-25 22:28] wattli opened #313 "RBAC setup for ingress key/cert"
The ingress key/cert is not protected by RBAC and it's long-lived. We need to specify RBAC rules for it.

https://istio.io/docs/tasks/traffic-management/ingress.html

[2017-10-25 22:42] lookuptable commented on #312
Secret is by default RBAC-protected. We have to explicitly grant the CA service account permission to allow it read and write secret. Is this not enough?

[2017-10-27 00:01] #265 closed

[2017-10-27 00:10] wattli commented on #312
This issue is mostly about documentation for new members.

[2017-10-30 06:58] myidpt commented on #288
This will be done through:
1. Write tests to cover cert rotation.
2. Improve logging of Istio CA to help track the cert issuance failures and CA status.
3. For HA, have doc to instruct deploying multiple CAs. Ensure that multiple Istio CAs can coexist in a cluster without racing.

[2017-10-30 17:30] wattli commented on #305
I will add something for GCE support as well.

[2017-11-04 16:12] myidpt commented on #288
Update: I have manually tested that 3) works. The istio.io doc will have instructions about bringing up multiple CAs to enhance HA.
(1) will be done by extending the current Istio security integration test. This was blocked by the repo migration and the PR will be sent out within a week.
(2) will be done within 1-2 weeks.

[2017-11-06 17:49] wattli commented on #288
sg, thanks Oliver!

[2017-11-06 17:56] #289 closed

[2017-11-06 18:13] diemtvu commented on #291
per-service auth implementation [PR](https://github.com/istio/old_pilot_repo/pull/1443) already included integration test. The test setup a service which has auth enabled in some ports and disable in other, via service annotation, then verify connection with other services.

[2017-11-06 18:15] #291 closed

[2017-11-06 19:34] wattli opened #320 "Incremental Auth adoption for existing services."

[2017-11-10 01:30] #294 closed

[2017-11-13 23:59] wattli commented on #313
Code goes to https://github.com/istio/istio/tree/master/security
Doc goes to https://github.com/istio/istio.github.io

[2017-11-14 21:39] wattli commented on #285
This is done during the mono repo migration.

[2017-11-14 21:39] #285 closed

[2017-11-14 21:43] myidpt commented on #305
The onpreme node agent e2e test is done by https://github.com/istio/istio/pull/1560. keep this bug open for GCE node agent e2e test.

[2017-11-14 21:45] myidpt commented on #288
@mangchiandjjoe Jae is helping with (1) the security integration test now. Thanks, Jae!

[2017-11-14 21:54] myidpt commented on #280
This is done.

[2017-11-15 17:24] borancar commented on #140
Can someone move this issue onto the new repo, the same that was done for https://github.com/istio/old_pilot_repo/issues/484?

[2017-11-16 00:07] mangchiandjjoe commented on #288
Create a PR for certificates rotation https://github.com/istio/istio/pull/1739

[2017-11-27 02:06] JimmyCYJ commented on #313
I did some tests and wrote a draft about what I learned from setting up rbac for Istio.
https://docs.google.com/document/d/14mPzL7Rgi58gvJgKSO1_OWAzyPVFpjyaJuofV1Rrfg4/edit?usp=sharing

[2017-11-27 21:47] JimmyCYJ commented on #312
According to istio/install/kubernetes/istio.yaml, there is a ClusterRole which is bound to sa istio-ca-service-account via a ClusterRoleBinding, that allows istio-ca-service-account to create, get, watch, list, update secrets. Other service accounts are only allowed to read secrets. I think we can explain this set up in document.

[2017-11-29 23:23] #305 closed

[2017-12-04 18:25] #293 closed

[2017-12-14 18:18] #288 closed

[2017-12-14 18:21] wattli commented on #299
https://github.com/istio/istio/pull/1346 solved this.

[2017-12-14 18:21] #299 closed

[2017-12-14 18:26] diemtvu commented on #292
Work around can use [per-service mTLS](https://istio.io/docs/tasks/security/per-service-mtls.html), i.e use annotation to disable mTLS for the port that used for healthcheck.

[2017-12-14 18:29] wattli commented on #290
@PiotrSikora , do we have any update on this issue?

[2017-12-14 19:26] #298 closed

[2017-12-14 22:27] PiotrSikora commented on #290
No update, SNI requires Envoy V2 APIs, which we don't use in Pilot yet.

[2018-01-07 02:51] ldemailly commented on #140
closing this in favor of istio/istio#2310 (though we lose the 26 +1  this one got)

[2018-01-07 02:51] #140 closed

[2018-02-12 19:35] saturnism commented on #292
quick ping on this one to see if anything's changed.

[2018-03-02 19:40] kdillane commented on #43
Are there any updates in this area?  I know there has been a lot of movement in the Istio development space and I want to make sure this is still a priority.  Thanks!

[2018-03-02 22:06] lizan commented on #43
Yes this is still on the track. It is currently in a pre-alpha stage along with istio auth policy. Feel free to join security SIG meeting to get development updates.